*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(55, 92, 122);
    color: rgb(86, 55, 122);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.red{
    color: red;
}